.ErrorSnackBar{
    background-color:orangered;
    color:black;
    font-weight:bold;
}
/* You can add global styles to this file, and also import other style files */
.mainHtml {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}
.mainBody {
  max-width: 800px;
  width: 100%;
  position: absolute;
  flex-grow: 1 ;
}

.snackBarError{
    background-color:red;
    color:black;
    font-weight:bold;
}


.snotify.snotify-rightBottom{
  position:absolute !important ;
}
.snotifyToast__input__label{
  text-align: right !important;
}
  